:root {
  --grey: grey;
  --line-height-1: 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.message {
  border: 1px solid var(--grey);
  padding: 10px;
  display: inline-flex;
  align-items: center;
}

.message--revealed {
  animation: fade-in 250ms backwards;
}

.message--dismissed {
  animation: fade-out 250ms forwards;
}

.message__dismiss {
  margin-left: 10px;
}

.message__dismiss::after {
  content: 'Dismiss';
}

.flash-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flash-messages .message:not(:last-child) {
  margin-bottom: 10px;
}
