:root {
  --grey: silver;
  --blue: royalblue;
  --green: forestgreen;
  --yellow: gold;
  --red: tomato;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.message {
  border: 1px solid var(--grey);
  padding: 10px;
  display: inline-flex;
  align-items: center;
}

.message[data-dismissed='false'] {
  animation: fade-in 250ms backwards;
}

.message[data-dismissed='true'] {
  animation: fade-out 250ms forwards;
}

.message__dismiss {
  margin-left: 10px;
}

.message__dismiss::after {
  content: 'Dismiss';
}

.message[data-type='info'] {
  border-color: var(--blue);
}

.message[data-type='success'] {
  border-color: var(--green);
}

.message[data-type='warning'] {
  border-color: var(--yellow);
}

.message[data-type='error'] {
  border-color: var(--red);
}

.flash-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .message:not(:last-child) {
    margin-bottom: 10px;
  }
}
