<div
  role="alert"
  class={{concat
    "message "
    (if @type (concat "message--" @type))
    (if
      this.isDismissible
      (concat " message--" (if this.isDismissed "dismissed" "revealed"))
    )
  }}
  ...attributes
  {{this.registerElement}}
>
  <div class="message__body">
    {{yield}}
  </div>
  {{#if this.isDismissible}}
    <button
      type="button"
      class="message__dismiss"
      aria-label="Dismiss"
      {{on "click" this.dismiss}}
    ></button>
  {{/if}}
</div>