<p>
  An example message
</p>

<Message @type="example">
  Hello World
</Message>

<p>
  An example message that can be dismissed.
</p>

{{#if this.showMessage}}
  <Message @type="example" @onDismiss={{this.dismissMessage}}>
    Hello World
  </Message>
{{/if}}

<p>
  Flash messages
</p>

<FlashMessages />